html {
	overflow-y:scroll;
}
body {
	font-family : Palatino, Lucida Sans Typewriter;
	font-size : 11pt;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
}
#page {
	position:relative;
	margin: 20px;
	width: 1200px;
	margin-left: auto; 
	margin-right: auto; 
}
p {
	margin-left : 5%;
	margin-right : 5%;
}
p.NotNarrowed {
	margin-left : 0px;
	margin-right : 0px;
}
p.ImageCaption {
	text-align : right;
	font-size : 90%;
}
h1 {
	Text-Align : Left;
	Font-Size : 240%;
	margin-left: 5px;
	border-bottom: 2px solid #e9b06e;
	clear: both;
	margin-top: 24px;
}
h2 {
	Text-Align : Left;
	Font-Size : 160%;
	margin-left: 5px;
	margin-top: 24px;
}
h3 {
	Text-Align : Left;
	Font-Size : 140%;
	margin-left: 5px;
}
h4 {
	Text-Align : Left;
	Font-Size : 120%;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h5 {
	Text-Align : Left;
	Font-Size : 110%;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ol {
	Margin-Left : 10%;
	Margin-Right : 10%;
}
ul {
	Margin-Left : 10%;
	Margin-Right : 10%;
}
li {
	margin-top: 4px;
	margin-bottom: 2px;
}
#navigation {
	position: absolute;
	left : 50px;
	top: 20px;
	width: 240px;
	margin: 0px;
	padding: 11px;
	text-align: left;
	background-color: #DDD;
	border: 2px solid #e9b06e;
}
#floatingnav {
	width: 220px;
	height: auto;
	z-index: 1;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: -50px;
	padding: 11px;
	background-color: #DDD;
	border: 2px solid #e9b06e;
}
#content {
	position: absolute;
	margin: 0px;
	padding: 11px;
	width: 680px;
	padding-right: 50px;
	background-color: white;
	text-align: left;
	left: 320px;
	top: 0px;
	overflow: auto;
}
#featured {
	margin: 0px;
	padding: 11px;
	background-color: white;
	text-align: left;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: -20px;
	overflow: auto;
	float:right;
}
p.highlight {
	background: none;
	margin-left: 10%;
	margin-right: 15%;
	padding: 11px;
	border: 2px solid #e9b06e;	
}
a:link {
	color : #44A;
	font-weight: bolder;
	text-decoration: none;
}
a:visited {
	color : #446;
	font-weight: bolder;
	text-decoration: none;
}
a:hover {
	color : #A33;
}
a:focus {
	color : #A33;
}
a:active {
	color : #000;
}
tt {
	Font-Family : "Courier New", monospace;
}
table {
	Font-Size : 11pt;
	Font-Family : Palatino, Lucida Sans Typewriter;
}
p.broadcrumps {
	margin-left: 0px;
	margin-right:0px;
	text-align: right;
	padding: 5px;
	background-color: #DDD;
	border: 2px solid #e9b06e;
}
p.header {
	Text-Align : left;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	background-color: #DDD;
	border: 2px solid #e9b06e;
	margin: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
p.search
{
	text-align:right;
	margin-right:0px; 
	margin-left:10px;
	float:right; 
	padding:5px;
}
p.comment {
	background: none;
	color: blue;
	margin-left: 5px;
	margin-right: 0%;
}
p.indentedcomment {
	background: none;
	color: #040;
	margin-left: 10%;
	margin-right: 5%;
}
p.mathjax { 
	color:blue; 
	font-size: 12pt;
	margin-left: 50px;
}
ul.comment {
	color: blue;
	margin-left : 10%;
	margin-right: 0%;
	padding-left: 0px;
}
h1.title {
	Text-Align : Left;
	Font-Size : 240%;
	padding-bottom: 5pt;
}
h1.comment, h1.comment a {
	Text-Align : Left;
	Font-Size : 140%;
	padding-bottom: 2pt;
}
h2.comment, h2.comment a {
	text-align: left;
	Font-Size : 120%;
	padding-bottom: 2pt;
	clear: both;
}
h1.title,h1.comment,h2.comment {
	border-bottom: 2px solid #e9b06e;	
}
pre {
	margin-Left : 5%;
	margin-right: 5%;
	Font-Family : "Courier New", monospace;	
	Font-Size : 100%;
	background: #EEE;
	padding: 11px;
}
pre.comment {
	background: none;
	color: blue;
	margin-left: 5px;
	margin-right: 0%;
}
pre.functioncomment {
	background: none;
	color: #000;
	margin-left: 5%;
	margin-right: 0%;
}
pre.prompt {
	color: red;
	margin-left: 5px;
	margin-right: 0%;
	background: #EEE;
	padding: 11px;
}
pre.output {
	color: black;
	background: none;
	margin-left: 5%;
	margin-right: 0%;
}
pre.udf {
	color: #006;
	margin-left: 5px;
}
p.filecomment {
	Margin-Left : 5%;
	padding-bottom: 10pt;
	border-bottom: 2px solid #e9b06e;
}
pre.function {
	color: black;
	margin-left: 5%;
	padding-top: 10pt;
	padding-bottom: 10pt;
}
pre.maxima {
	color: #000;
	background: #FFF;
	margin-left: 5%;
	padding-bottom: 10pt;
}
pre.assignment {
	margin-left: 5%;
	margin-bottom: 0pt;
	margin-top: 0pt;
}
p.image {
	text-align: center;
}
img.euler {
	margin-left: 20px;
}
.command {
	color: #A20;
}
.matlab {
	color: #260;
}
.tutorial {
	width: 720px;
}

@media screen and (max-width: 800px)
{
	
	body {
		font-family : Palatino, Lucida Sans Typewriter ;
		width:auto;
		font-size : 11pt;
		background-color: #FFF;
	}
	#page {
		position:relative;
		padding: 5px;
		width: auto;
		margin-left: auto; 
		margin-right: auto; 
	}
	#navigation {
		position: relative;
		width:auto;
		left:auto;
		top:auto;
		margin-left:0pt;
		background-color: #DDD;
		border: 2px solid #e9b06e;
	}
	#content {
		margin: 0px;
		position: relative;
		width: auto;
		background-color: white;
		text-align: left;
		left: auto;
		top: 0px;
		overflow: auto;
	}
	p {
		margin-left : 0px;
		margin-right : 0px;
	}
	ul {
		margin-left: 20px;
		padding: 11px;
	}
	.tutorial {
		width: 95%;
	}
}